/* HTML element selectors */
* 
{
	font-family: Arial, sans-serif;
    padding: 0px;
}


body
{
    background-color: lightgray;
    margin: 20px 40px;
}

details
{
    margin: 20px 0px;
}

nav
{
    margin: 20px 0px;
}

nav ul
{
    list-style-type: none;
    margin: 0px;
}

/* Class selectors */
.dropbutton 
{
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: block;
    width: 100%;
}

.dropdown 
{
    min-width: 160px;
}

.dropdown-content 
{
    z-index: 1;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a 
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover { background-color: #f1f1f1 }

.dropdown:hover .dropbutton 
{
    background-color: #3e8e41;
}

/* ID selectors */
#main_content
{
    padding-left: 40px;
}

#wrapper
{
    display: flex;
}
